.site-font {
    font-family:Arial, Helvetica, sans-serif;
    font-size:  16px;
}
.site-color{
background-color: indigo;
color: #FFF;
}
.site-square{
    width: 200px;
    height: 200px;
}

.site-font2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  30px;
    text-align: center;
}
.site-color2{
background-color: rgb(0, 0, 255);
color: rgb(255,0,0);
}
.site-square2{
    width: 400px;
    height: 400px;
    border-radius: 200px;
}