a{
    background-color: rgba(0,0,0,1);
    font-size: 30px;
    font-weight: bold;
}
a:link{
    color:red;
}
a:visited{
    color:green;
}
a:hover{
    color:rgba(255, 0, 255, 0.5);
    background-color: rgba(0,0,0,0.2);
}
a:active{
    color:blue;
    background-color: rgba(255, 255, 255, 1);
}