 .cascading-parent{
        font-weight: bold;
        color: #FFF;
        width: 400px;
        height: 400px;
        background-color: rgba(255,0,0,1);
    }

.cascading-child{

    background-color: rgba(0,255,0,1);
    width: 200px;
    height: 200px;
    color: #FF0;
    display: inline-block;

}
